.editor {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.editor :global(.cm-editor) {
  height: 100%;
}

.editor :global(.cm-dim-line) {
  opacity: 0.3;
}

